<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.ssafy.enjoytrip.user.model.UserDTO"
			alias="userDto" />
		<typeAlias type="com.ssafy.enjoytrip.plan.model.PlanDTO"
			alias="planDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.plan.model.PlanPermissionDTO"
			alias="planPermissionDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.plan.model.PlanCommentDTO"
			alias="planCommentDto" />
		<typeAlias type="com.ssafy.enjoytrip.notice.model.NoticeDTO"
			alias="noticeDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.plan.model.PlanDetailDTO"
			alias="planDetailDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.review.model.ReviewDTO"
			alias="reviewDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.review.model.ReviewCommentDTO"
			alias="reviewCommentDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.review.model.ReviewImageDTO"
			alias="reviewImageDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.attraction.model.SidoDTO"
			alias="sidoDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.attraction.model.GugunDTO"
			alias="gugunDto" />
		<typeAlias
			type="com.ssafy.enjoytrip.data.model.ChildAttractionDTO"
			alias="childAttractionDto" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/member.xml" />
		<mapper resource="mybatis/plan.xml" />
		<mapper resource="mybatis/notice.xml" />
		<mapper resource="mybatis/review.xml"/>
		<mapper resource="mybatis/attraction.xml"/>
		<mapper resource="mybatis/data.xml" />
	</mappers>

</configuration>
